*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
    list-style: none;
}

h2{
color: rgba(15, 148, 207, 0.81);
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Actor;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

a {
  text-decoration: none;
  color: rgb(53, 126, 7);
  font-weight: 400;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    border: 3px solid rgba(73, 178, 77, 0.80);
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgba(55, 117, 57, 0.80);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}